@model IEnumerable<miniERPMVC.Models.Fornecedore>

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Create">Criar fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneFornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFornecedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFornecedor">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFornecedor">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
